body {
  background-image: url('https://images.pexels.com/photos/2339009/pexels-photo-2339009.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.card {
  background-color: #922b21;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  overflow: hidden;
  color: #fff;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  background-color: #7b241c;
}

.card-header {
  background-color: #7b241c;
  color: #fff;
  border-bottom: 1px solid #641e16;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 30px;
}

.list-group-item {
  border: 1px solid #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #922b21;
  color: #fff;
  position: relative;
  cursor: grab;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.list-group-item:hover {
  background-color: #7b241c;
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
}

.list-group-item .delete-item {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.list-group-item:hover .delete-item {
  color: #eee;
}

.list-group-item.placeholder {
  background-color: #7b241c;
  border: 4px dashed #fff;
}

.btn-primary,
.btn-danger,
.btn-success {
  width: 48%;
  margin-bottom: 20px;
  background-color: #922b21;
  border: 2px solid #641e16;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-primary:hover,
.btn-danger:hover,
.btn-success:hover {
  background-color: #7b241c; 
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5); 
}

#addTable {
  width: 100%;
  margin-top: 20px;
  background-color: #7b241c;
  border: 2px solid #641e16;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#addTable:hover {
  background-color: #641e16;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
}

.navbar {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link {
  color: #922b21;
  transition: color 0.3s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #7b241c;
}

.container {
  width: 75%;
  position: relative;
  margin-left: 5%;
}

.row {
  margin: 0 auto;
}

.live-chat-placeholder {
  width: 15%;
  height: 100vh;
  background-color: #808080;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

button#addTable {
  width: 90%;
  margin-left: 5%;
}

.card {
  z-index: 1;
}
